In [153]:
import cx_Oracle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
conn = cx_Oracle.connect('js_dev', '123456', 'wind')

In [3]:
query = 'select t.trade_dt, t.s_info_windcode, t.s_dq_close \
         from wind.AShareEODPrices t'

In [4]:
df = pd.read_sql_query(query, con=conn)

In [5]:
df.shape

(9123532, 3)

In [50]:
df.head()

    TRADE_DT S_INFO_WINDCODE  S_DQ_CLOSE
0 1990-12-19       600656.SH         2.6
1 1990-12-19       600654.SH       323.5
2 1990-12-19       600653.SH       327.9
3 1990-12-19       600652.SH       193.0
4 1990-12-19       600651.SH       320.3

In [67]:
tdf = df.pivot_table('S_DQ_CLOSE', index=['TRADE_DT', 'S_INFO_WINDCODE'])

In [69]:
tdf = tdf.unstack()

In [72]:
tdf.head()

                S_DQ_CLOSE                                                    \
S_INFO_WINDCODE  000001.SZ 000002.SZ 000003.SZ 000004.SZ 000005.SZ 000006.SZ
TRADE_DT
1990-12-19             NaN       NaN       NaN       NaN      3.83       NaN
1990-12-20             NaN       NaN       NaN       NaN      3.83       NaN
1990-12-21             NaN       NaN       NaN       NaN      3.83       NaN
1990-12-24             NaN       NaN       NaN       NaN      3.83       NaN
1990-12-25             NaN       NaN       NaN       NaN      3.83       NaN

                                                           ...               \
S_INFO_WINDCODE 000007.SZ 000008.SZ 000009.SZ 000010.SZ    ...    603988.SH
TRADE_DT                                                   ...
1990-12-19            NaN       NaN       NaN       NaN    ...          NaN
1990-12-20            NaN       NaN       NaN       NaN    ...          NaN
1990-12-21            NaN       NaN       NaN       NaN    ...          NaN
1990-12-24            NaN       NaN       NaN       NaN    ...          NaN
1990-12-25            NaN       NaN       NaN       NaN    ...          NaN

                                                                             \
S_INFO_WINDCODE 603989.SH 603990.SH 603991.SH 603993.SH 603996.SH 603997.SH
TRADE_DT
1990-12-19            NaN       NaN       NaN       NaN       NaN       NaN
1990-12-20            NaN       NaN       NaN       NaN       NaN       NaN
1990-12-21            NaN       NaN       NaN       NaN       NaN       NaN
1990-12-24            NaN       NaN       NaN       NaN       NaN       NaN
1990-12-25            NaN       NaN       NaN       NaN       NaN       NaN


S_INFO_WINDCODE 603998.SH 603999.SH T00018.SH
TRADE_DT
1990-12-19            NaN       NaN       NaN
1990-12-20            NaN       NaN       NaN
1990-12-21            NaN       NaN       NaN
1990-12-24            NaN       NaN       NaN
1990-12-25            NaN       NaN       NaN

[5 rows x 3601 columns]

In [70]:
tdf.tail()

                S_DQ_CLOSE                                                    \
S_INFO_WINDCODE  000001.SZ 000002.SZ 000003.SZ 000004.SZ 000005.SZ 000006.SZ
TRADE_DT
2018-04-02           10.71     33.49       NaN     22.61      3.83      7.25
2018-04-03           10.56     33.64       NaN     22.65      3.75      7.09
2018-04-04           10.87     32.80       NaN     22.67      3.76      7.15
2018-04-09           11.02     31.62       NaN     22.58      3.76      7.19
2018-04-10           11.42     32.18       NaN     22.37      3.75      7.30

                                                           ...               \
S_INFO_WINDCODE 000007.SZ 000008.SZ 000009.SZ 000010.SZ    ...    603988.SH
TRADE_DT                                                   ...
2018-04-02          14.21      6.85      6.07      4.40    ...        31.63
2018-04-03          14.58      6.69      6.19      4.33    ...        29.95
2018-04-04          14.26      6.71      6.26      4.33    ...        31.75
2018-04-09          13.95      6.64      6.35      4.31    ...        30.82
2018-04-10          14.14      6.58      6.28      4.28    ...        30.47

                                                                             \
S_INFO_WINDCODE 603989.SH 603990.SH 603991.SH 603993.SH 603996.SH 603997.SH
TRADE_DT
2018-04-02          41.04     40.54     25.13      8.22     17.29     12.59
2018-04-03          40.23     40.14     24.74      8.16     17.16     12.43
2018-04-04          40.05     39.77     25.05      7.96     17.10     12.52
2018-04-09          40.37     41.30     25.42      8.07     16.66     12.49
2018-04-10          39.97     40.76     25.45      8.59     16.69     12.34


S_INFO_WINDCODE 603998.SH 603999.SH T00018.SH
TRADE_DT
2018-04-02           9.43      7.31       NaN
2018-04-03           9.43      7.20       NaN
2018-04-04           9.43      7.11       NaN
2018-04-09           9.43      7.03       NaN
2018-04-10           9.43      7.18       NaN

[5 rows x 3601 columns]

In [60]:
tdf = df.set_index(['TRADE_DT', 'S_INFO_WINDCODE'])

In [61]:
tdf.tail()

                            S_DQ_CLOSE
TRADE_DT   S_INFO_WINDCODE
2018-03-16 000762.SZ             14.19
           000768.SZ             14.92
           000778.SZ              5.18
           000798.SZ              8.42
           000800.SZ             11.06

In [46]:
tdf.tail()

                            S_DQ_CLOSE
TRADE_DT   S_INFO_WINDCODE
2018-02-27 603799.SH            112.36
2018-03-14 300613.SZ            172.51
           300616.SZ            196.02
           002912.SZ            123.36
2018-03-21 300567.SZ            128.91

In [39]:
tdf = tdf.unstack()

In [41]:
tdf.tail()

                S_DQ_CLOSE                                                    \
S_INFO_WINDCODE  000001.SZ 000002.SZ 000003.SZ 000004.SZ 000005.SZ 000006.SZ
TRADE_DT
2018-04-02             NaN       NaN       NaN       NaN       NaN       NaN
2018-04-03             NaN       NaN       NaN       NaN       NaN       NaN
2018-04-04             NaN       NaN       NaN       NaN       NaN       NaN
2018-04-09             NaN       NaN       NaN       NaN       NaN       NaN
2018-04-10             NaN       NaN       NaN       NaN       NaN       NaN

                                                           ...               \
S_INFO_WINDCODE 000007.SZ 000008.SZ 000009.SZ 000011.SZ    ...    603737.SH
TRADE_DT                                                   ...
2018-04-02            NaN       NaN       NaN       NaN    ...          NaN
2018-04-03            NaN       NaN       NaN       NaN    ...          NaN
2018-04-04            NaN       NaN       NaN       NaN    ...          NaN
2018-04-09            NaN       NaN       NaN       NaN    ...          NaN
2018-04-10            NaN       NaN       NaN       NaN    ...          NaN

                                                                             \
S_INFO_WINDCODE 603799.SH 603833.SH 603858.SH 603883.SH 603888.SH 603898.SH
TRADE_DT
2018-04-02            NaN       NaN       NaN       NaN       NaN       NaN
2018-04-03            NaN    137.34       NaN       NaN       NaN       NaN
2018-04-04         111.79       NaN       NaN       NaN       NaN       NaN
2018-04-09            NaN       NaN       NaN       NaN       NaN       NaN
2018-04-10         118.27       NaN       NaN       NaN       NaN       NaN


S_INFO_WINDCODE 603978.SH 603986.SH 603989.SH
TRADE_DT
2018-04-02            NaN    207.94       NaN
2018-04-03            NaN       NaN       NaN
2018-04-04            NaN       NaN       NaN
2018-04-09            NaN       NaN       NaN
2018-04-10            NaN       NaN       NaN

[5 rows x 727 columns]

In [73]:
query = 'select t.trade_dt, t.s_info_windcode, t.s_val_mv from wind.AShareEODDerivativeIndicator t'

In [74]:
cap_df = pd.read_sql_query(query, con=conn)

In [75]:
cap_df['TRADE_DT'] = pd.to_datetime(cap_df['TRADE_DT'], format='%Y%m%d')

In [78]:
cap_df = cap_df.pivot_table('S_VAL_MV', index=['TRADE_DT', 'S_INFO_WINDCODE']).unstack()

In [77]:
cap_df.head()

    TRADE_DT S_INFO_WINDCODE     S_VAL_MV
0 1992-12-23       000016.SZ  227745.1600
1 1992-12-23       000002.SZ  305726.8624
2 1992-12-23       600621.SH   61803.5160
3 1992-12-23       600652.SH    9585.0000
4 1992-12-23       600611.SH  129451.3000

In [79]:
r_df = tdf.pct_change()

In [82]:
exr_df = np.exp(r_df)

In [131]:
m_df = cap_df.div(cap_df.sum(axis=1), axis='index')

In [133]:
m_df.columns = m_df.columns.levels[1]

In [85]:
m_df = m_df.replace([np.inf, -np.inf], np.NAN)

In [86]:
m_df.tail()

                 S_VAL_MV                                                    \
S_INFO_WINDCODE 000001.SZ 000002.SZ 000003.SZ 000004.SZ 000005.SZ 000006.SZ
TRADE_DT
2018-04-07       0.003048  0.005914       NaN  0.000031  0.000065  0.000158
2018-04-08       0.003048  0.005914       NaN  0.000031  0.000065  0.000158
2018-04-09       0.003086  0.005693       NaN  0.000031  0.000065  0.000158
2018-04-10       0.003153  0.005711       NaN  0.000030  0.000064  0.000158
2018-04-11       0.003247  0.005754       NaN  0.000030  0.000063  0.000157

                                                           ...               \
S_INFO_WINDCODE 000007.SZ 000008.SZ 000009.SZ 000010.SZ    ...    603988.SH
TRADE_DT                                                   ...
2018-04-07       0.000081  0.000309  0.000220  0.000058    ...     0.000062
2018-04-08       0.000081  0.000309  0.000220  0.000058    ...     0.000062
2018-04-09       0.000079  0.000305  0.000223  0.000058    ...     0.000060
2018-04-10       0.000079  0.000298  0.000217  0.000056    ...     0.000059
2018-04-11       0.000078  0.000294  0.000214  0.000055    ...     0.000058

                                                                             \
S_INFO_WINDCODE 603989.SH 603990.SH 603991.SH 603993.SH 603996.SH 603997.SH
TRADE_DT
2018-04-07       0.000196  0.000053  0.000030  0.002808  0.000084  0.000130
2018-04-08       0.000196  0.000053  0.000030  0.002808  0.000084  0.000130
2018-04-09       0.000198  0.000055  0.000031  0.002843  0.000082  0.000130
2018-04-10       0.000193  0.000053  0.000030  0.002983  0.000081  0.000127
2018-04-11       0.000191  0.000053  0.000032  0.002952  0.000082  0.000127


S_INFO_WINDCODE 603998.SH 603999.SH T00018.SH
TRADE_DT
2018-04-07       0.000066  0.000067       NaN
2018-04-08       0.000066  0.000067       NaN
2018-04-09       0.000066  0.000066       NaN
2018-04-10       0.000065  0.000066       NaN
2018-04-11       0.000065  0.000073       NaN

[5 rows x 3606 columns]

In [87]:
r_df = r_df.replace([np.inf, -np.inf], np.NAN)

In [88]:
exr_df = exr_df.replace([np.inf, -np.inf], np.NAN)

In [119]:
exr_df.columns = exr_df.columns.levels[1]

In [146]:
m_df = m_df[exr_df.columns]

In [147]:
x, y = m_df.iloc[-1], exr_df.iloc[-1]

In [149]:
d = np.log((m_df * exr_df).sum(axis=1)) - (m_df * r_df).sum(axis=1)

C:\Users\zhangyang01\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

In [150]:
d

TRADE_DT
1990-12-19            -inf
1990-12-20    3.044325e-04
1990-12-21    2.277757e-04
1990-12-22            -inf
1990-12-23            -inf
1990-12-24    2.203335e-04
1990-12-25    2.304612e-04
1990-12-26    3.842297e-04
1990-12-27    2.763373e-07
1990-12-28    9.413532e-06
1990-12-29            -inf
1990-12-30            -inf
1990-12-31    8.595237e-06
1991-01-01            -inf
1991-01-02    8.289116e-06
1991-01-03    8.497329e-06
1991-01-04    1.286455e+00
1991-01-06            -inf
1991-01-07    2.678674e-05
1991-01-08    3.092103e-06
1991-01-09    2.695536e-05
1991-01-10    1.203012e-05
1991-01-11    1.857777e-05
1991-01-13            -inf
1991-01-14   -5.255844e-02
1991-01-15    8.723661e-06
1991-01-16    4.281131e-06
1991-01-17    3.974126e-06
1991-01-18    2.395669e-06
1991-01-20            -inf
                  ...
2018-03-13    1.635987e-04
2018-03-14    1.380491e-04
2018-03-15    1.693797e-04
2018-03-16    1.482508e-04
2018-03-17            -inf
2018-03-18            -inf
2018-03-19    2.187003e-04
2018-03-20    1.580946e-04
2018-03-21    1.620074e-04
2018-03-22    1.567018e-04
2018-03-23    4.566346e-04
2018-03-24            -inf
2018-03-25            -inf
2018-03-26    3.909163e-04
2018-03-27    2.273894e-04
2018-03-28    1.861154e-04
2018-03-29    2.055254e-04
2018-03-30    1.206883e-04
2018-03-31            -inf
2018-04-01            -inf
2018-04-02    2.380123e-04
2018-04-03    1.483797e-04
2018-04-04    2.187159e-04
2018-04-05            -inf
2018-04-06            -inf
2018-04-07            -inf
2018-04-08            -inf
2018-04-09    2.128368e-04
2018-04-10    2.842553e-04
2018-04-11            -inf
Length: 9910, dtype: float64

In [151]:
d = d.replace([np.inf, -np.inf], np.NAN)

In [157]:
plt.plot(d.dropna())

KeyError: u'figure.constrained_layout.use'

In [159]:
plt.plot([1,2,3], [1,2,3])

KeyError: u'figure.constrained_layout.use'