In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from WindPy import w
%matplotlib inline

In [3]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [44]:
treasury_file = 'D:/Data/bonds/treasury.xlsx'

In [45]:
ch_df = pd.read_excel(treasury_file, index_col=0, sheetname='china')

In [46]:
ch_df.head()

             CGB3M   CGB1Y  CGB10Y
2002-01-04  2.5312  2.5850  3.2096
2002-01-07  2.5489  2.6009  3.2003
2002-01-08  1.7235  1.9156  3.5225
2002-01-09  1.6983  1.9040  3.5896
2002-01-10  1.6942  1.8987  3.5784

In [47]:
usa_df = pd.read_excel(treasury_file, index_col=0, sheetname='usa')

In [48]:
usa_df.head()

            UST10Y
2002-01-04    5.18
2002-01-07    5.09
2002-01-08    5.10
2002-01-09    5.10
2002-01-10    5.00

In [49]:
ch_df.shape

(3872, 3)

In [50]:
usa_df.shape

(3880, 1)

In [56]:
ch_df.merge(usa_df, how='inner', left_index=True, right_index=True)

             CGB3M   CGB1Y  CGB10Y  UST10Y
2002-01-04  2.5312  2.5850  3.2096    5.18
2002-01-07  2.5489  2.6009  3.2003    5.09
2002-01-08  1.7235  1.9156  3.5225    5.10
2002-01-09  1.6983  1.9040  3.5896    5.10
2002-01-10  1.6942  1.8987  3.5784    5.00
2002-01-11  1.6907  1.8757  3.4532    4.92
2002-01-14  1.4598  1.6794  3.5114    4.91
2002-01-15  1.5145  1.7265  3.5023    4.88
2002-01-16  1.5396  1.7403  3.4414    4.88
2002-01-17  1.5107  1.7165  3.4511    4.98
2002-01-18  2.2117  2.3130  3.2968    4.94
2002-01-22  2.2156  2.3195  3.3182    4.96
2002-01-23  2.3436  2.4151  3.1897    5.05
2002-01-24  2.1836  2.2820  3.2581    5.07
2002-01-25  2.3531  2.4084  3.0795    5.10
2002-01-28  2.2849  2.3583  3.1584    5.12
2002-01-29  1.6353  1.8731  3.8100    5.02
2002-01-30  2.2131  2.3022  3.2152    5.02
2002-01-31  2.2285  2.3164  3.2186    5.07
2002-02-01  2.1434  2.2378  3.2016    5.02
2002-02-04  2.1320  2.2322  3.2180    4.94
2002-02-05  2.1016  2.1994  3.1893    4.92
2002-02-06  2.1783  2.2673  3.1897    4.92
2002-02-07  2.0729  2.1876  3.2491    4.93
2002-02-08  2.0803  2.1877  3.2085    4.90
2002-02-11  2.1533  2.2539  3.2173    4.91
2002-02-19  2.1460  2.2399  3.1679    4.88
2002-02-20  2.0341  2.1405  3.1647    4.88
2002-02-21  2.1273  2.2222  3.1583    4.88
2002-02-22  2.1088  2.2165  3.2237    4.84
...            ...     ...     ...     ...
2017-05-23  3.1835  3.4923  3.6725    2.29
2017-05-24  3.2517  3.4860  3.6601    2.26
2017-05-25  3.2671  3.4655  3.6476    2.25
2017-05-26  3.2622  3.4704  3.6501    2.25
2017-05-31  3.2054  3.4542  3.6102    2.21
2017-06-01  3.2092  3.4818  3.6152    2.21
2017-06-02  3.3286  3.4964  3.6277    2.15
2017-06-05  3.3181  3.5018  3.6152    2.18
2017-06-06  3.3228  3.5158  3.6328    2.14
2017-06-07  3.4326  3.5982  3.6427    2.18
2017-06-08  3.4628  3.6590  3.6478    2.19
2017-06-09  3.4940  3.6574  3.6303    2.21
2017-06-12  3.4932  3.6138  3.5841    2.21
2017-06-13  3.5070  3.6138  3.5754    2.21
2017-06-14  3.5812  3.6042  3.5354    2.15
2017-06-15  3.5691  3.5941  3.5554    2.16
2017-06-16  3.5571  3.5979  3.5680    2.16
2017-06-19  3.5446  3.5730  3.5006    2.19
2017-06-20  3.5446  3.5488  3.4881    2.16
2017-06-21  3.5315  3.5488  3.5406    2.16
2017-06-22  3.4804  3.5489  3.5607    2.15
2017-06-23  3.4078  3.5057  3.5457    2.15
2017-06-26  3.3382  3.4815  3.5134    2.14
2017-06-27  3.2090  3.4495  3.5084    2.21
2017-06-28  3.1590  3.4545  3.5333    2.22
2017-06-29  3.1488  3.4496  3.5483    2.27
2017-06-30  3.1397  3.4600  3.5683    2.31
2017-07-03  3.1582  3.4596  3.6033    2.35
2017-07-05  3.1610  3.4648  3.5760    2.33
2017-07-06  3.1258  3.4464  3.5660    2.37

[3623 rows x 4 columns]